<div style='margin: 1rem 0.5rem;'>
    <h3 style='margin: .5rem 0;'>Registering</h3>
    <ul>
        <li>
            <%= link_to 'Coin', coins_path %>
        </li>
        <li>
            <%= link_to 'Mining Type', mining_types_path %>
        </li>
    </ul>
</div>