<div style='margin: 1rem 0.5rem;'>
    <h3 style='margin: .5rem 0;'><%= t("menu.subtitle.registering") %></h3>
    <ul>
        <li>
            <%= link_to t("menu.links.coin"), coins_path %>
        </li>
        <li>
            <%= link_to t("menu.links.mining_type"), mining_types_path %>
        </li>
    </ul>
</div>
