<h1>Crypto Wallet</h1>
<br/> 
<p> <b>Data:</b> <%= l(Date.today) %> </p> <%# it could be like that: I18n.l(), but is most common finding only l() or t() in a view page for I18n methods%>

<%= render 'menu' %>
