// Place all the styles related to the Coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
    background: #d1d1d1;
    padding: .5rem 1rem !important;
}

td {
    text-align: center;
    background: #f9f9f9;
    padding: .5rem !important;
}