<h1><%= t('coins.edit.title', deep_interpolation:true, coin_descr: @coin.description) %></h1>

<br/>

<%= render 'form', coin: @coin, editing: @editing_form %>

<%= link_to t('links.show'), @coin, class: 'btn btn-outline-primary btn-sm', type: 'button' %> 

